.banner {
    height: 550px;
    background: url("../images/banner.jpg") center no-repeat;
    background-size: cover;
    color: var(--white);
    position: relative;
    margin-top: -35px;
    @media ( max-width: 767px ) {
        height: 450px;
        margin-top: -15px;
    }
    &__overlay {
        background-color: rgba( 75, 56, 38, .2 );
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    &__title {
        position: relative;
        z-index: 1;
        font-size: 64px;
        line-height: 83px;
        font-weight: 700;
        padding-top: 80px;
        max-width: 720px;
        @media ( max-width: 767px ) {
            font-size: 32px;
            line-height: 42px;
            padding-top: 115px;
            max-width: none;
        }
    }
    &__text {
        position: relative;
        z-index: 1;
        font-size: 30px;
        line-height: 39px;
        font-weight: 500;
        @media ( max-width: 767px ) {
            font-size: 20px;
            line-height: 26px;
        }
    }
}