:root {
    --black: #323232;
    --blue: #387EF6;
    --blue-light: #4B8EFF;
    --grey: #858BA3;
    --grey-light: #E4E8F5;
    --grey-lighter: #F9FAFF;
    --red: #F8393E;
    --red-light: #FF5B60;
    --white: #FFFFFF;
}