.form-wrapper {
    padding: 50px 60px;
    border-radius: 20px;
    border: 1px solid #D2D9F8;
    @media (max-width: 767px) {
        padding: 0;
        border: 0;
    }
}

form {
    h2 {
        margin-top: 0;
        @media (max-width: 767px) {
            font-size: 32px;
            line-height: 120%;
        }
    }
}

.form-input {

}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    padding: 31px 20px 13px;
    border-radius: 5px;
    border: 1px solid #D8E3ED;
    width: 100%;
    font-size: 16px;
    line-height: 130%;
    color: #6D7CA4;
    transition: border-color .3s ease;
    @media ( max-width: 767px ) {
        padding-top: 25px;
    }
    &:focus,
    &:not(:placeholder-shown) {
        border: 1px solid var( --blue );
    }
}

textarea {
    resize: vertical;
    min-height: 120px;
}

.container-placeholder {
    position: relative;
    > label {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        color: #A2A8BF;
        font-size: 13px;
        line-height: 130%;
        transition: top .3s ease;
        pointer-events: none;
    }
    > textarea + label {
        top: 1px;
        transform: translateY(0);
        background-color: var( --white );
        padding-top: 11px;
        width: calc( 100% - 40px );
    }
}

.container-placeholder input:focus + label,
.container-placeholder input:not(:placeholder-shown) + label {
    top: 19px;
    @media ( max-width: 767px ) {
        top: 14px;
    }
}

.form-footer {
    display: flex;
    @media ( max-width: 767px ) {
        flex-direction: column-reverse;
    }
    > div {
        &:first-child {
            padding-right: 20px;
            @media ( max-width: 767px ) {
                padding-right: 0;
            }
        }
        &:last-child {
            @media ( max-width: 767px ) {
                margin-bottom: 20px;
            }
        }
    }
}

input[type=checkbox] {
    display: none;
    + label {
        position: relative;
        cursor: pointer;
        display: flex;
        &:before {
            background-color: #ffffff;
            content: '';
            min-width: 22px;
            width: 22px;
            height: 22px;
            display: block;
            transition: background-color .3s;
            margin-right: 16px;
            border-radius: 6px;
            border: 1px solid #CED9E1;
        }
    }
    &:checked {
        + label {
            &:before {
                background-color: var( --blue );
            }
            &:after {
                content: '';
                width: 7px;
                height: 11px;
                position: absolute;
                left: 8px;
                top: 4px;
                transform: rotate( 45deg );
                border-bottom: 3px solid #FFFFFF;
                border-right: 3px solid #FFFFFF;
                border-radius: 2px;
            }
        }
    }
}