header {
    position: fixed;
    width: 100%;
    background-color: var( --white );
    transition: transform .3s ease;
    &._hidden {
        transform: translateY( -100px );
    }
}

._open-menu header {
    &._hidden {
        transform: translateY( 0 );
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 22px 0;
    @media ( max-width: 767px ) {
        padding: 14px 0;
    }
}

.logo {
    flex-grow: 1;
    @media ( max-width: 767px ) {
        width: 167px;
    }
}

.burger {
    display: flex;
    align-items: center;
    transition: opacity .3s ease, visibility .3s ease;
    @media ( max-width: 1200px ) {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: var( --white );
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
    }
    @media ( max-width: 767px ) {
        padding: 0 16px 16px;
        top: 86px;
    }
}

._open-menu {
    .burger {
        opacity: 1;
        visibility: visible;
    }
}

.burger-button {
    padding: 20px;
    display: none;
    @media ( max-width: 1200px ) {
        display: block;
    }
}

.burger-button__lines {
    display: flex;
    flex-direction: column;
}

.burger-button__line {
    width: 36px;
    height: 2px;
    background-color: var( --black );
    &:not( :last-child ) {
        margin-bottom: 6px;
    }
    &:nth-child(1),
    &:nth-child(3) {
        transition: transform .3s ease;
    }
    &:nth-child(2) {
        transition: opacity .3s ease, visibility .3s ease;
    }
}

._open-menu {
    .burger-button__line:nth-child(1) {
        transform: rotateZ(45deg) translate(7px, 6px);
    }
    .burger-button__line:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }
    .burger-button__line:nth-child(3) {
        transform: rotateZ(-45deg) translate(5px, -5px);
    }
}

.menu {
    font-size: 14px;
    line-height: 21px;
    @media ( max-width: 1200px ) {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 32px;
    }
    > ul {
        display: flex;
        @media ( max-width: 1200px ) {
            flex-direction: column;
        }
        > li {
            @media ( max-width: 1200px ) {
                margin-right: 0;
            }
            &:not( :last-child ) {
                margin-right: 25px;
                @media ( max-width: 1200px ) {
                    margin-bottom: 15px;
                }
            }
            > a {
                text-decoration: underline rgba( 50, 50, 50, 0 );
                text-underline-offset: 2px;
                transition: text-decoration .3s ease;
                &:hover {
                    text-decoration-color: var( --black );
                }
            }
        }
    }
}

.phone {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    margin: 0 31px;
    @media ( max-width: 1200px ) {
        margin: 0 0 20px;
    }
    > a {
        text-decoration: underline rgba( 50, 50, 50, 0 );
        text-underline-offset: 2px;
        transition: text-decoration .3s ease;
        &:hover {
            text-decoration-color: var( --black );
        }
    }
}