.links {
    color: var( --white );
}

.links__subtitle {
    font-size: 24px;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 30px;
    @media ( max-width: 767px ) {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 15px;
    }
}

.links__list {
    font-size: 16px;
    line-height: 130%;
    @media ( max-width: 767px ) {
        font-size: 14px;
    }
    > li {
        &:not( :last-child ) {
            margin-bottom: 15px;
            @media ( max-width: 767px ) {
                margin-bottom: 10px;
            }
        }
        > a {
            text-decoration: underline rgba( 255, 255, 255, 0 );
            text-underline-offset: 2px;
            transition: text-decoration .3s ease;
            &:hover {
                text-decoration-color: var( --white );
            }
        }
    }
}