html {
    height: 100%;
}

body {
    height: 100%;
    font-family: GolosText;
    font-size: 16px;
    line-height: 140%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    color: var( --black );
    @media ( max-width: 767px ) {
        font-size: 14px;
    }
}

.container {
    max-width: 1234px;
    padding: 0 32px;
    margin: 0 auto;
    @media ( max-width: 767px ) {
        padding: 0 16px;
    }
}

main {
    flex-grow: 1;
    margin-top: 135px;
    @media ( max-width: 767px ) {
        margin-top: 101px;
    }
}

section {
    padding: 110px 0;
    @media ( max-width: 767px ) {
        padding: 35px 0;
    }
    &._blue {
        padding: 105px 0;
        background-color: var( --blue );
        @media ( max-width: 767px ) {
            padding: 35px 0;
        }
    }
}

h1 {
    font-size: 64px;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 40px;
    @media ( max-width: 767px ) {
        font-size: 32px;
        margin-bottom: 30px;
    }
}

h2 {
    font-size: 48px;
    line-height: 130%;
    font-weight: 700;
    position: relative;
    margin: 40px 0 20px;
    @media ( max-width: 767px ) {
        margin: 30px 0 20px;
    }
    &._line {
        &:before {
            content: '';
            position: absolute;
            top: 28px;
            left: -75px;
            display: block;
            width: 40px;
            height: 5px;
            background-color: var( --blue );
        }
    }
    &._white {
        color: var( --white );
        &:before {
            background-color: var( --white );
        }
    }
    > span {
        color: var( --blue );
        display: block;
    }
}

h3 {
    font-size: 36px;
    line-height: 120%;
    font-weight: 600;
    margin: 20px 0 10px;
    @media ( max-width: 767px ) {
        font-size: 24px;
    }
}

h4 {
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    margin: 20px 0 10px;
    @media ( max-width: 767px ) {
        font-size: 20px;
    }
}

.text-content {
    a {
        color: var( --blue );
        text-decoration: underline #387EF6;
        text-underline-offset: 2px;
        transition: text-decoration .3s ease;
        &:hover {
            text-decoration-color: rgba(56, 126, 246, 0);
        }
    }
    p {
        margin-bottom: 20px;
    }
    br {
        &._m {
            display: none;
            @media ( max-width: 767px ) {
                display: block;
            }
        }
    }
    blockquote {
        font-size: 24px;
        line-height: 140%;
        font-weight: 600;
        margin: 30px 0 30px;
        background-color: rgba( 249, 250, 255, 1 );
        padding: 25px 25px 25px 21px;
        border-left: 4px solid var( --blue );
        @media ( max-width: 767px ) {
            font-size: 18px;
        }
    }
    ul:not([class]) {
        margin: 20px 0;
        padding-left: 50px;
        @media ( max-width: 767px ) {
            padding-left: 35px;
        }
        > li {
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 8px;
                height: 8px;
                position: absolute;
                top: 8px;
                left: -24px;
                background-color: var( --blue );
                border-radius: 50%;
            }
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    ol:not([class]) {
        margin: 20px 0;
        list-style: none;
        counter-reset: num;
        padding-left: 30px;
        > li {
            position: relative;
            &:before {
                content: counter(num);
                counter-increment: num;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: -30px;
                background-color: rgba(221, 233, 254, 1);
                font-size: 13px;
                line-height: 120%;
                font-weight: 600;
                color: var( --blue );
                border-radius: 50%;
            }
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    table {
        border-collapse: collapse;
        width: 100%;
        margin: 40px 0;
        @media ( max-width: 767px ) {
            margin: 30px 0;
        }
        > thead {
            background-color: var( --grey-lighter );
            color: var( --grey );
        }
        td {
            padding: 30px 20px;
            border: 1px solid var( --grey-light );
            @media ( max-width: 767px ) {
                padding: 20px 15px;
            }
        }
    }
    *:last-child {
        margin-bottom: 0;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -16px -8px 0;
}

.row > * {
    padding: 0 8px;
    flex: 1 0 auto;
    width: 100%;
    max-width: 100%;
    margin-top: 16px;
}

.row > .col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.row > .col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.row > .col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.row > .col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.row > .col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.row > .col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.row > .col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.row > .col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.row > .col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.row > .col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.row > .col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.row > .col-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 576px) {
    .row > .col-s-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .row > .col-s-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .row > .col-s-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .row > .col-s-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .row > .col-s-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .row > .col-s-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .row > .col-s-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .row > .col-s-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .row > .col-s-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .row > .col-s-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .row > .col-s-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .row > .col-s-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .row {
        margin: -32px -16px 0;
    }

    .row > * {
        margin-top: 32px;
        padding: 0 16px;
    }

    .row > .col-m-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .row > .col-m-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .row > .col-m-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .row > .col-m-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .row > .col-m-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .row > .col-m-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .row > .col-m-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .row > .col-m-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .row > .col-m-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .row > .col-m-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .row > .col-m-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .row > .col-m-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .row > .col-l-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .row > .col-l-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .row > .col-l-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .row > .col-l-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .row > .col-l-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .row > .col-l-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .row > .col-l-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .row > .col-l-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .row > .col-l-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .row > .col-l-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .row > .col-l-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .row > .col-l-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}